:root {
  --background:#FCFCFD;
  --qbusiness-webexperience-title-color: #36454F;
  --qbusiness-webexperience-font-typeface: 'Amazon Ember', 'Helvetica Neue', Arial, sans-serif;
  --qbusiness-webexperience-chat-user-background-color: #e1f3ff;
  --qbusiness-webexperience-chat-user-text-color: #0f3460;
  --qbusiness-webexperience-chat-agent-background-color: #f5f0e8;
  --qbusiness-webexperience-chat-agent-text-color: #212529;
  --qbusiness-webexperience-chat-logo-visibility: hidden;
  --qbusiness-webexperience-logo-url: "https://amazon-q-business-ui-customizations.s3.us-east-1.amazonaws.com/aws-logo.png";
  --qbusiness-webexperience-font-url: "https://amazon-q-business-ui-customizations.s3.us-east-1.amazonaws.com/AmazonEmber_Bd.ttf";
  --qbusiness-webexperience-favicon-url: "https://amazon-q-business-ui-customizations.s3.us-east-1.amazonaws.com/favicon.ico";
}
    